body{
    height: 100vh;
}
.navbar ul li a:hover{
    background-color: rgb(237, 211, 195);
}
#header{
    height: 15vh;
    background: linear-gradient(249deg, rgba(192,165,117,1) 19%, rgba(193,141,96,1) 50%, rgba(192,165,117,1) 88%);
}

#header-dos{
    height: 40vh;
    background: linear-gradient(249deg, rgba(192,165,117,1) 19%, rgba(193,141,96,1) 50%, rgba(192,165,117,1) 88%);
}

#header-tres{
    height: 60vh;
    background: linear-gradient(249deg, rgba(192,165,117,1) 19%, rgba(193,141,96,1) 50%, rgba(192,165,117,1) 88%);
}
#main{
    height: 120vh;
}

#footer{
    height: 15vh;
    background: linear-gradient(249deg, rgba(192,165,117,1) 19%, rgba(193,141,96,1) 50%, rgba(192,165,117,1) 88%); 
}
.tamano-logo{
    width: 95px;
    height: 95px;
}

.mi-foto{
    width: 350px;
    height: 350px;
}

.btn{
    background-color: rgb(42, 43, 42) !important;
    border-color: aliceblue !important;
}
.form-control{
    border: 1px solid black !important;
}

i a{
    color: black;
    text-decoration: none;
}

