body {
    height: 100vh;
    background-color: black;
}
#header {
    height: 15vh;
}
#main {
    height: 120vh;
}
/* estilo texto */
h1 {
    font-size: 60px !important;
    color: #DF6240 !important;
}
.display-6 {
    color: aliceblue !important;
}
p {
    color: aliceblue;
}
h2 {
    color: aliceblue;
}
h6 {
    color: aliceblue;
}
hr {
    color: aliceblue;
}
/* navbar */
.navbar ul li a:hover {
    color: #e8a28f !important;
}
.nav-link {
    color: aliceblue !important;
}
.tamano-logo {
    width: 95px;
    height: 95px;
}
.mi-foto {
    width: 450px;
    height: 450px;
}
/* estilo formulario */
.btn {
    background-color: #DF6240 !important;
    border-color: aliceblue !important;
}
.form-control {
    border: 3px solid rgb(245, 243, 243) !important;
    width: 550px;
}
/* estilos card */
.card {
    background-color: black !important;
    border: 5px solid rgb(252, 252, 252);
    border-radius: 10px !important;
}
.card:hover {
    background-color: #DF6240 !important;
}
.card-img-top {
    margin-top: 10px;
    width: 100px !important;
    height: 150px !important;
}
/* estilos iconos */
.iconos-estilos {
    border-radius: 1px;
    font-size: 130px;
    color: #070707
}
.iconos-redes {
    font-size: 50px !important;
    color: aliceblue;
}
.iconos-redes:hover {
    color: #DF6240;
}