@charset "UTF-8";
.navbar .container-fluid .tamaño-logo .navbar-toggler .collapse ul li ahover {
  background-color: antiquewhite;
}

.mi-foto {
  width: 350px;
  height: 350px;
}

.btn {
  background-color: rgb(42, 43, 42) !important;
  border-color: aliceblue !important;
}

.form-control {
  border: 1px solid black !important;
}

i a {
  color: black;
  text-decoration: none;
}